<ul class="media-list">
  <% photos.each do |photo| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(photo.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to photo.user.name, user_path(photo.user) %> <span class="text-muted">posted at <%= photo.created_at %></span>
        </div>
        <div>
          <p><%= photo.content %></p>
           <p><%= image_tag photo.image %></p>
        </div>
        <div>
          <%= render "likes/like_button", photo: photo %>
          <% if current_user == photo.user %>
            <%= link_to "Delete", photo, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate photos %>
</ul>